/bin/*
/vendor/*

/gen/*
/doc/internal/*
/doc/stats/*
/doc/API/*
.classpath
.project
!/tpl/android/project/.project
!/tpl/android/project/.classpath
!/tpl/android/test/project/.project
!/tpl/android/test/project/.classpath
local.properties
.settings/*
/tmp/*
/app/*
