@CHARSET "UTF-8";

html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
del, ins {
    text-decoration: none;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #000000;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}
html, body {
    background-color: #EFEFEF;
}
body {
    color: #313131;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
h1, h2, h3 {
    color: #404040;
    font-family: Georgia,"Times New Roman",Times,serif;
}
h1 {
    font-size: 45px;
    padding-bottom: 30px;
}
h2 {
    background-color: #AACD4E;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px 4px;
    text-transform: uppercase;
}
p {
    line-height: 20px;
    padding-bottom: 20px;
}
ul a {
    background: url("../images/blue-arrow.png") no-repeat scroll right 6px transparent;
    padding-right: 10px;
}
ul, ol {
    padding-left: 20px;
}
li {
    padding-bottom: 18px;
}
ol li {
    list-style-type: decimal;
}
ul li {
    list-style-type: none;
}
#symfdroid-header {
    padding: 30px 30px 20px;
    position: relative;
}
#symfdroid-wrapper {
    margin: 0 auto;
    width: 970px;
}
#symfdroid-content {
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
    padding: 50px;
}
#symfdroid-header {
    padding: 30px 30px 20px;
    position: relative;
}
#symfdroid-wrapper {
    margin: 0 auto;
    width: 970px;
}
#symfdroid-content {
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
    padding: 50px;
}
html, body {
    background-color: #EFEFEF;
}
body {
    color: #313131;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
#symfdroid-header {
    padding: 30px 30px 20px;
    position: relative;
}
#symfdroid-wrapper {
    margin: 0 auto;
    width: 970px;
}
#symfdroid-content {
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
    padding: 50px;
}
html, body {
    background-color: #EFEFEF;
}
body {
    color: #313131;
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
#symfdroid-header {
    padding: 30px 30px 20px;
    position: relative;
}
#symfdroid-wrapper {
    margin: 0 auto;
    width: 970px;
}
#symfdroid-content {
    background-color: white;
    border: 1px solid #DFDFDF;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 5px;
    padding: 50px;
}
#symfdroid-search {
    position: absolute;
    right: 30px;
    top: 50px;
}
#symfdroid-search-field {
    width: 190px;
}
#symfdroid-search label {
    background: url("../images/search.png") no-repeat scroll left 5px transparent;
    display: block;
    float: left;
    height: 25px;
    width: 20px;
}
#symfdroid-search label span {
    display: none;
}
input[type="text"] {
    background: url("../images/field-background.gif") repeat-x scroll left top white;
    border: 1px solid #DADADA;
    color: #565656;
    font-family: 'Lucida Sans Unicode','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 5px 6px;
}
.symfdroid-button-grey, .symfdroid-button-green {
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    font-weight: bold;
    outline: medium none;
    padding: 3px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.symfdroid-button-grey {
    background: -moz-linear-gradient(center top , #FFFFFF, #D7D7D7) repeat scroll 0 0 transparent;
    border: 1px solid #D7D7D7;
    color: #868686;
    font-weight: normal;
    padding: 5px 10px;
}
.symfdroid-button-green {
    background: -moz-linear-gradient(center top , #A7DA39, #6A9211) repeat scroll 0 0 transparent;
    border: 1px solid #A7DA39;
    color: white;
    padding: 5px 12px;
}
#symfdroid-wrapper {
    padding-top: 50px;
}
.symfdroid-blocks-install {
    overflow: hidden;
}
.symfdroid-blocks-install .symfdroid-block-logo {
    float: left;
    width: 358px;
}
.symfdroid-blocks-install .symfdroid-block-content {
    float: left;
    width: 510px;
}
.symfdroid-install-continue {
    font-size: 0.95em;
    padding-left: 0;
}
.symfdroid-install-continue li {
    padding-bottom: 10px;
}
.version {
    font-size: 10px;
    margin-right: 20px;
    text-align: right;
}
